# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
!example.tfvars
crash.log
override.tf
override.tf.json

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/

# Editors and OS
.idea/
.vscode/
.DS_Store
